/*-----reset-----*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

button,
input,
textarea,
select,
a {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.5s;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* main */
body {
    min-height: 100vh;
    background-color: #F7F5F6;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #272f4b;
}

main {
    width: min(35rem, 98%);
    box-shadow: 0px 15px 25px -5px rgba(238, 125, 121, 0.58);
    display: flex;
    padding: 2em 2em 4em;
    gap: 2em;
    overflow: hidden;
    position: relative;
}

img {
    object-fit: cover;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.top-right-shape {
    background: linear-gradient(40deg, #ee7d79, #f1a05e);
    position: absolute;
    width: 300px;
    height: 250px;
    margin-top: -2.5rem;
    margin-left: 60%;
    border-radius: 20% 41% 0% 99% / 41% 31% 57% 59%;
    z-index: -1;
}

.bottom-left-shape {
    z-index: -1;
    background-color: #ee7d79;
    position: absolute;
    margin-top: 20.3rem;
    margin-left: -4rem;
    width: 280px;
    height: 426px;
    border-radius: 51% 49% 0% 100% / 18% 21% 79% 82%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.view-all {
    color: #ffffff;
}

.view-all:hover,
.view-all:focus {
    color: #c83d39;
    transform: scale(1.1);
}

.confirm-btn {
    padding: 0.5em 1em;
    box-shadow: 1px 1px 3px #ffffff;
    height: fit-content;
    border-radius: 5px;
    place-self: center;
    background-color: #ffffff;
}

.confirm-btn:hover,
.confirm-btn:focus {
    background-color: #c83d39;
    color: #ffffff;
    box-shadow: 1px 1px 3px #c83d39;
}

