* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9DAE3;
    min-height: 100vh;
}

section {
    background-color: #EEF0F2;
}

img {
    border-radius: 6px;
    object-fit: cover;
}