@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #d10e58, #250b6e);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: #1f245c;
    color: #ffffff;
    padding: 1.25rem;
    border-top: 4px solid #c63675;
    border-radius: 0.5rem;
    max-width: 28rem;
}

header {
    display: flex;
    justify-content: space-between;
}

header div:first-of-type {
    display: flex;
    flex-direction: column;
}

header div:first-of-type h1 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

header div:first-of-type p {
    font-size: 0.75rem;
    font-weight: 200;
}

header div:first-of-type a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

header div:first-of-type a:hover {
    text-decoration: underline;
    color: #7e5ba7;
}

header div:nth-of-type(2) {
    width: max-content;
    height: max-content;
    border: 1px solid #111447;
    border-radius: 9999px;
}

header div:nth-of-type(2) a {
    text-decoration: none;
    display: inline-block;
}

/* Apply custom styles to the SVG */
header div:nth-of-type(2) a svg {
    margin: 0.25rem;
    width: 25px;
    height: 25px;
    stroke-width: 1;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

header+p {
    font-size: 0.75rem;
    font-weight: 200;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

/* Specific margin for the second paragraph */
header+p+p {
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
    font-weight: 200;
}

.growth {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.growth span {
    font-size: 0.875rem;
}

.progress-container {
    width: 100%;
    background-color: #111447;
    border-radius: 9999px;
    height: 0.625rem;
}

.progress-bar {
    background-color: #ca392d;
    height: 0.625rem;
    border-radius: 9999px;
    width: 10%;
}

.members {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    align-items: center;
}

.members p {
    font-size: 0.7em;
    font-weight: 300;
    margin-bottom: 0.25rem;
    color: #e79eb7;
}

.img-container {
    display: flex;
    gap: 0.25rem;
}

.img-wrapper {
    position: relative;
    width: 3rem;
    border-radius: 9999px;
    border: 4px solid #111448;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

main {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.836);
}

h1 {
    color: white;
    cursor: pointer;
    transition: all .15s ease-in;
}

h1:hover {
    background: linear-gradient(to right, #ca26a2, #8128ca);
    -webkit-text-fill-color: transparent;
}

.more-wrapper:hover {
    cursor: pointer;
    background-color: #20255c;
    border-color: #20255c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.658) inset;
}

.more-wrapper:hover .icon-tabler-dots {
    stroke: white;
}

.img-container .img-wrapper {
    transition: all 0.15s ease-in;
}

.img-container .img-wrapper:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 15px #ba0d5f;
}