* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #d10e58, #250b6e);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: #1f245c;
    color: #ffffff;
    padding: 1.25rem;
    border-top: 4px solid #c63675;
    border-radius: 0.5rem;
    max-width: 28rem;
}