body {
    background: linear-gradient(to bottom right, #d10e58, #250b6e);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: #1f245c;
    color: #ffffff;
    padding: 1.25rem;
    border-top: 4px solid #c63675;
    border-radius: 0.5rem;
    max-width: 28rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.title-and-date {
    display: flex;
    flex-direction: column;
}

.title-and-date h1 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.title-and-date p {
    font-size: 0.75rem;
    font-weight: 200;
}