* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182040;
}

main {
    width: 91.66667%;
    max-width: 42rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

article {
    width: 100%;
    height: 100%;
    background-color: #0e162a;
    border-radius: 0.5rem;
}

.profile-image {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.profile {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

h1 {
    color: #e2e8f0;
    font-size: 0.875rem;
}

h2 {
    color: #cbd5e1;
    font-size: 0.75rem;
}

.previously p {
    color: #cbd5e1;
    font-size: 0.75rem;
}

.previously img {
    width: 50%;
    height: auto;
}

.more-article {
    width: 100%;
    height: 100%;
    border: 1px solid #0e162a;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #bfdbfe;
}

.more p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}