* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #af2830;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    /* position: relative;
    z-index: 10; */
}

/* span {
    position: absolute;
    width: 45rem;
    height: 4rem;
    transform: translateX(-50%) translateY(50%);
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: #91191f7c;
    z-index: -10;
} */

div {
    background-color: #22161a;
    color: #9c9295;
    padding: 20px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
}