* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1rem;
}

.account {
    width: 18rem;
    border-radius: 5rem;
    background-color: #ffffff;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.account:hover {
    border-radius: 1rem;
    transform-origin: top;
}

.account button {
    transition: all 0.3s;
    border-radius: 9999px;
    padding: 0.75rem 0.25rem;
    outline: none;
    border: none;
    background: transparent;
}

.account:hover button {
    background-color: #3b82f6;
    color: #ffffff;
}

.person {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.person img {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}

.person div h2 {
    margin: 0;
}

.person p {
    font-size: 0.875rem;
}

/* Apply pop-down to account hover */
.account:hover .pop-down {
    max-height: 18rem;
    /* Expanded height when hovered */
}

.pop-down {
    max-height: 0;
    transition: max-height 1s ease-in-out 0.3s;
    overflow: hidden;
}

.pop-down .button-container {
    padding: 1rem;
    margin-top: 0.5rem;
}

.button-container button {
    display: flex;
    align-items: center;
    color: #3b82f6;
    gap: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;
}

.button-container button span {
    font-family: 'Material Symbols Outlined', sans-serif;
}

.button-container .border-top {
    border-top: 1px solid #e5e7eb;
    margin-top: 1rem;
    padding-top: 1.5rem;
}

.button-container .button-container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.button-container button span {
    font-weight: 100;
    font-size: 1.25rem;
}