/* Variables */
:root {
    --clr-primary: black;
    --clr-secondary: white;
    --clr-accent: hsla(340, 100%, 63%, 1);
    --clr-accent-intense: rgb(102, 201, 231);
    /* --clr-bg: hsla(311, 50%, 85%, 1); */
    --clr-gradient: linear-gradient(45deg, hsla(311, 50%, 85%, 1), hsla(190, 60%, 80%, 1), hsla(50, 60%, 70%, 1));
    --clr-bg-contacts: hsla(262, 47%, 55%, 1);
    --clr-bg-messages: rgb(247, 245, 245);
    --clr-bg-contact-hover: hsla(261, 50%, 44%);
    --clr-bg-header-left: hsla(260, 45%, 50%, 1);
    --clr-bg-header-right: hsla(262, 47%, 55%, 1);
    --clr-bg-icon-header-left: hsla(258, 40%, 79%);
    --clr-bg-icon-header-right: hsla(295, 53%, 86%, 1);
    --clr-border-image: hsla(260, 44%, 60%, 1);
    --clr-bg-icons: hsla(262, 61%, 70%, 1);
    --clr-box-shadow: hsla(0, 0%, 0%, .25);
    --clr-box-shadow-contacts: hsla(261, 50%, 44%, .3);
    --clr-box-shadow-messages: hsla(261, 50%, 44%, .2);
    --ff-primary: 'Poppins', sans-serif;
    --fs-primary: 1rem;
}

/* Reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: var(--ff-primary);
    -webkit-tap-highlight-color: transparent;
}

body {
    line-height: 1.5;
}

img,
svg {
    max-width: 100%;
    display: block;
}

input,
button {
    appearance: none;
    font: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr-gradient);
    color: var(--clr-primary);
    font-size: var(--fs-primary);
    font-weight: 400;
}

.container {
    display: flex;
    background-color: transparent;
    width: clamp(20rem, 90vw, 58rem);
    margin-block: 2rem;
    margin-inline: auto;
    box-shadow: 0px 10px 30px var(--clr-box-shadow);
}

.contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--clr-bg-contacts);
    width: 45%;
    box-shadow: 30px 30px 60px var(--clr-box-shadow-contacts);
    overflow: hidden;
}

.write-messages {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    display: grid;
    place-content: center;
    width: 4rem;
    aspect-ratio: 1;
    background-color: var(--clr-secondary);
    border-radius: 50%;
    cursor: pointer;
}

.write-messages svg {
    width: 2rem;
    stroke: var(--clr-secondary);
    fill: var(--clr-bg-icons);
}

.contacts-header {
    display: flex;
}

.contacts-header-left {
    width: 75%;
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-block: 1.7rem;
    padding-inline: 1.5rem;
    background-color: var(--clr-bg-header-left);
}

.contacts-header-left svg {
    width: 1.9rem;
    stroke: var(--clr-bg-icon-header-left);
    cursor: pointer;
}

.contacts-header-left input[type="search"] {
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--clr-bg-header-left);
    color: var(--clr-secondary);
}

.contacts-header-right {
    display: grid;
    place-content: center;
    width: 20%;
    aspect-ratio: 1;
    padding-inline: .5rem;
    background-color: var(--clr-bg-header-right);
}

.contacts-header-right svg {
    width: 2.2rem;
    stroke: var(--clr-bg-icon-header-right);
    fill: vaR(--clr-bg-icon-header-right);
    cursor: pointer;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    color: var(--clr-secondary);
    list-style: none;
}

.contacts-list-item {
    display: flex;
    gap: 1.5rem;
    padding-block: 1rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 2rem;
    will-change: background-color;
    transition: background-color .250s;
    overflow: hidden;
}

.contacts-list-item:hover,
.contacts-list-item.active {
    background-color: var(--clr-bg-contact-hover);
    box-shadow: 10px 15px 30px var(--clr-box-shadow);
}

.contacts-list-item-image {
    width: 5.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.contacts-list-item-image img {
    object-fit: cover;
    object-position: center;
    border: .4rem solid var(--clr-border-image);
    border-radius: 50%;
}

.contacts-list-item-info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    width: 100%;
}

.contacts-list-item-info-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h2 {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: 1.1rem;
    font-weight: 500;
}

h2 span.new-messages {
    display: grid;
    place-content: center;
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: var(--clr-accent);
    font-size: .8rem;
    font-weight: 400;
    border-radius: 50%;
    will-change: transform, opacity;
    transition: transform .400s ease-in-out, opacity .400s ease-in-out;
}


.contacts-list-item-info-header>span {
    font-size: .8rem;
    opacity: .5;
}

.contacts-list-item-info>p {
    max-width: 28ch;
    font-size: .75rem;
    font-weight: 500;
    opacity: .8;
}

.messages {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: auto;
    /*  width: 33rem; */
    height: 100%;
    padding-block-start: 2rem;
    background-color: var(--clr-bg-messages);
    will-change: opacity, transform;
    transition: opacity .50s ease-in-out, transform .250s ease-in-out;
}

.messages-upper {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    height: 38rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.messages-upper-message {
    display: flex;
    gap: .8rem;
    padding-inline: 3rem;
}

.messages-upper-message.reverse {
    flex-direction: row-reverse;
}


.messages-upper-message-image {
    flex-shrink: 0;
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.messages-upper-message-image img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.messages-upper-message-text {
    width: auto;
}

.messages-upper-message-text p {
    background-color: var(--clr-secondary);
    padding-block: .8rem;
    padding-inline: 1.2rem;
    font-size: .85rem;
    box-shadow: 0px 0px 3px var(--clr-box-shadow-messages);
}

.messages-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
    padding-inline-start: 3rem;
    padding-inline-end: 1rem;
    background-color: var(--clr-secondary);
}

.messages-lower input {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    appearance: none;
    outline: none;
    border: none;
}

.messages-lower input::placeholder {
    color: var(--clr-primary);
    opacity: .25;

}

.messages-lower svg {
    flex-shrink: 0;
    width: 4rem;
    stroke: var(--clr-secondary);
    fill: var(--clr-bg-icons);
    cursor: pointer;
}

@media (max-width: 65rem) {

    .contacts,
    .messages {
        width: 50%;
    }
}

@media (max-width: 40rem) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .contacts-header-left svg {
        flex-shrink: 0;
    }

    .contacts-header-right {
        flex-shrink: 0;
    }

    .contacts,
    .messages {
        width: 25rem !important;
    }

    .contacts-list {
        flex-direction: row;
        height: 10rem;
        overflow: auto;
    }

    .contacts-list-item {
        flex-shrink: 0;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        width: 10rem;
    }

    .contacts-list-item-info-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 1rem;
        text-align: center;
    }

    .contacts-list-item-image {
        width: 4rem;
    }

    .contacts-list-item-image img {
        border: .4rem solid var(--clr-border-image);
    }

    .contacts-list-item-info-header>span {
        display: none;
    }

    .contacts-list-item-info>p {
        display: none;
    }

    .messages {
        width: 25rem;

    }

    .messages-upper {
        height: 12rem;
    }


}

@media (max-width: 40rem) {

    .contacts,
    .messages {
        width: 20rem;
    }
}