* {
    margin: 0;
    padding: 0;
}

body {
    border: 5px solid #2C213C;
    border-radius: 15px;
    /* Border radius for the body */
    margin: 2rem;
    overflow: hidden;
    /* Prevents overflow from spilling over rounded corners */
    background-color: #fff;
    /* Optional: Sets background color for the body */
    color: aliceblue;
}

header,
footer {
    background-color: #FE77A2;
    border-radius: 15px;
    /* Ensures the background is clipped within rounded corners */
    padding: 1rem;
    margin-bottom: 1rem;
    /* Adds space between header, footer, and main content */
    text-align: center;
}

header {
    margin: 4.5rem 0 4.5rem 0;
}


main {
    padding: 20px;
    background-color: #FE77A2;
    /* Apply background color to main */
    border-radius: 10.5px;
    /* Ensure main content follows the rounded corners */
    height: 85vh;
}

h1 {
    font-size: 10rem;
    text-align: center;
    letter-spacing: 2.5px
}

p {
    font-weight: 600;
    text-align: center;
    color: aliceblue;
    width: 30%;
    margin: 0 auto 3rem auto;
    line-height: 1.6;
    font-size: 22px;
}

a {
    text-decoration: none;
    border-bottom: 2px solid aliceblue;
    color: inherit;
}

footer p {
    text-align: center;
    font-size: 1rem;
}