* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f4f9;
}

div {
    display: flex;
}

main {
    background-color: #ffffff;
    width: 750px;
    margin: 50px auto 100px auto;
}

main h3,
main p {
    text-align: center;
}

form {
    display: block;
}