* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEFD;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    position: relative;
}