* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7EBEE;
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #77919D;
    color: #FBFEFB;
    height: 150px;
    width: 300px;
}

main {
    width: 300px;
    display: grid;
    height: 300px;
}

section {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #57696C;
    font-weight: 100;
    border: 1px solid #D1D8D9;
}

#plus-minus {
    display: flex;
    flex-direction: column;
}

#plus-minus div {
    margin-bottom: 0;
    padding-bottom: 0;
}

.calculator__functions-row div,
#multiply,
#subtract,
#add {
    background-color: #E5E9EC;
}

section div:not(#divide):not(#multiply):not(#subtract):not(#add):not(#equals):not(#CE):not(#C):not(#del) {
    background-color: #FFFFFF;
}