body {
    background-color: #f4f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

main,
form,
button {
    font-family: 'poppins', sans-serif;
}


main {
    background-color: #FFFFFF;
    border: 20px solid #E0E9F6;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

header,
form,
footer {
    margin: auto;
}

header {
    width: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header button {
    background-color: #4868AD;
    color: #ffffff;
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

header button,
span,
form input {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.75rem;
    color: #2E2E44;
}

p {
    font-weight: 500;
    color: #302D47;
}

span {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

form button {
    background-color: #1E2B4B;
    color: #ffffff;
}

input,
button {
    cursor: pointer;
    border: unset;
    outline: unset;
    font-weight: 600;
    background: transparent;
    padding: 12px;
    border-radius: 6px;
}

input {
    border: 2px solid #D7D7E2;
}

input::placeholder {
    color: #c2c2da;
}

footer p {
    font-size: .75rem;
    color: #96979C;
    text-align: center;
    width: 250px;
}