* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F3FB;
}

.first--section__article1,
.first--section__article3,
.first--section__article5 {
    background-color: #ffffff;
}

.first--section__article2,
.first--section__article4,
.first--section__article6 {
    background-color: #141625;
}

.white {
    display: flex;
}

.dark {
    color: #ffffff;
    display: flex;
}

.article1--flex,
.article2--flex,
.article3--flex,
.article4--flex {
    display: flex;
    justify-content: space-between;
}

.white,
.dark {
    width: 100%;
}

article {
    width: 740px;
}