* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EF89B0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

main {
    background-color: #FFFFFF;
    color: #343434;
    width: 350PX;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}