@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #051428;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.outer-circle {
    border-radius: 50px solid #011631;
}

.inner-circle {
    background-color: #3949AC;
    border-radius: 50%;
}

.linkedin,
.comments,
.profile {
    background-color: #081D36;
}

.linkedin {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    font-weight: bold;
    display: grid;
    place-content: center;
    position: absolute;
}

.linkedin span:nth-child(1) {
    color: #ffffff;
    font-size: 3.2rem;
}

.linkedin span:last-child {
    right: 0;
    width: 25px;
    height: 25px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    transform: translate(30%, -30%);
}

.profile button,
.linkedin span:last-child {
    background-color: rgb(241, 160, 8);
}