* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 15px;
    transition: background-color 0.5s ease;
}

button {
    border: unset;
    background: transparent;
    outline: unset;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 1.25rem;
    width: 125px;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #1d1d1d;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

p {
    font-size: 1.25rem;
}