* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D0D5E3;
    min-height: 100vh;
    color: #2d3748;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

main {
    background-color: #ffffff;
}

.dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    margin-left: 5px;
}