* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF0F2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
}

main {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 15px;
    width: 80%;
    max-width: 500px;
    padding: 5rem 1rem;
    text-align: center;
    position: relative;
    transition: opacity 0.5s ease;
}

main.hidden {
    opacity: 0;
    pointer-events: none;
}

svg {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

svg:hover {
    transform: rotate(180deg);
}

h1 {
    font-family: 'Kalnia', serif;
    color: #242e4c;
    margin: 2rem 0;
}

h3 {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

section p {
    margin-bottom: 2rem;
    color: #394978;
    font-size: 1.25rem;
}

button {
    font-family: 'Josefin Slab', serif;
    background: #242e4c;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 5px 5px #c7c7c7;
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: none;
    background: #394978;
}

button:active {
    background: #e11a1e;
    /* Darker shade when pressed */
    transform: translateY(2px);
    /* Creates a press-down effect */
    box-shadow: 0 2px 3px #b0b0b0;
    /* Subtle shadow when pressed */
}

@media screen and (max-width: 548px) {
    main {
        width: 80%;
    }

    section p {
        font-size: 1rem;
    }
}

/* Snow fall */
.snow {
    animation: fall 3s linear forwards;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: -5vh;
    left: 0;
    height: 20px;
    width: 20px;
    z-index: 9999;
    pointer-events: none;
}

@keyframes fall {
    0% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(100vh);
    }
}